.friendWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 28px;
  margin: 16px;
}

.marker {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
